<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="favicon.svg"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>Alyssia's Diary</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	*,
	*::after,
	*::before {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	html,
	body {
		width: 100%;
		min-height: 100%;
	}
	body {
		margin: 0;

		/* hazy sky gradient */
		background: linear-gradient(
			to bottom,
			#eef8ff 0%,
			#d9eeff 12%,
			#c6e3ff 25%,
			#b3d7ff 45%,
			#8fc0ff 70%,
			#5a9be6 100%
		);

		/* linear-gradient(
      to bottom,
      #f6fbff 0%,
      #dcefff 20%,
      #b7dbff 50%,
      #8fc2ff 100%
    ); */
	}
</style>
